# This is a basic workflow to help you get started with Actions
# Controls when the workflow will run
# Triggers the workflow on push or pull request events but only for the main branch

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
# This workflow contains a single job called "build"
# The type of runner that the job will run on
# Steps represent a sequence of tasks that will be executed as part of the job
# Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
# Runs a single command using the runners shell
# Runs a set of commands using the runners shell
      
jobs:
  
  build : 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Run a one-line script
        run: echo Hello, world!


      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
